body {
    background-color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Header */

.header {
    background-color: gold;
}

.header-logo {
    display: flex;
    margin: 32px;
}

.header-link {
    display: flex;
    justify-content: flex-end;
    margin: 12px;
    gap: 12px;    
}

a:link {
    text-decoration: none;
  }

/* Hero */

.hero {
    display: flex;
    margin: 36px;
    align-items: center;
    justify-content: center;
    background-color: silver;
}

.hero-body {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.hero h1 {
    margin-bottom: 0;
}

.hero p {
    font-size: small;
}

.hero button {
    display: block;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    background-color: aqua;
    height: 64px;
    width: 128px;
    font-weight: bold;
}

.hero-image {
    height: 384px;
    width: 512px;
}

/* Content */

.content {
    align-items: center;
}

.content-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    margin: 64px;
}

.content-info img {
    width: 256px;
    height: 256px;
}

/* Quote */

.quote {
    display: flex;
    flex-direction: column;
    background-color: silver;
    padding: 0 200px;
}

.quote-main {
    text-align: center;
}

.quote-author {
    text-align: right;
    margin-right: 96px;
}

/* Signup */

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 64px 192px;
    background-color: gold;
}

.signup-text {
    flex: 1;
}

.signup button {
    padding: 8px 24px;
    font-size: 16px;
    border-radius: 8px;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    background-color: transparent;
}